build:windows_default --crosstool_top=@bazel_tools//tools/cpp:toolchain
build:windows_default --cxxopt='/std:c++20'
build:windows_default --cxxopt='/utf-8'
build:windows_default --copt='/utf-8'
build:windows_default --cxxopt='/wd5031'
build:windows_default --cxxopt='/wd4668'
build:windows_default --cxxopt='/wd4820'
build:windows_default --features=static_link_msvcrt
build:windows_default --features=compiler_param_file

# Windows 编译
build:windows --config=windows_default
build:windows --platforms=@cc_toolchains_windows//:windows
build:windows --cpu=x64_windows
build:windows --extra_execution_platforms=@cc_toolchains_windows//:windows

# Windows32 编译
build:windows86 --config=windows_default
build:windows86 --cpu=x86_windows
build:windows86 --platforms=@cc_toolchains_windows//:windows_x86
build:windows86 --extra_execution_platforms=@cc_toolchains_windows//:windows_x86

build:hardlinking --remote_instance_name=hardlinking
